# Supabase Configuration
# 请访问 https://supabase.com 创建项目并获取以下信息

NEXT_PUBLIC_SUPABASE_URL=https://ffimtwavaymppcdndvon.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_uAT5aVlxoHdCmdJQm-a8Aw_pWc5MC1r
